In [ ]:
select 2 + 2;

 FROM

 where

 group by

 having

 select

 order by

aggregate function -\> vec to scalar

  
DML - Data Manipulation Language

In [ ]:
select  
    sum (SubTotal) total_amount,
    min (SubTotal) total_amount,
    max (SubTotal) total_amount,
    avg (SubTotal) total_amount,
    min (CreditCardApprovalCode),
    max (CreditCardApprovalCode)

from Sales.SalesOrderHeader;

In [ ]:
select
    count (*) As count_all,
    count (distinct SalesOrderID) as count_unique,
    count (distinct CASE when SubTotal > 1000 then TerritoryID else NULL end)
from Sales.SalesOrderHeader;

In [ ]:
-- note that here territory id should be either
-- aggregate function or belong to group by !!!
select TerritoryID, sum(SubTotal)
from Sales.SalesOrderHeader
group by TerritoryID

In [ ]:
 select TerritoryID, DATENAME(MONTH, OrderDate),
 sum (SubTotal) as [Sum in Month by Territory]
 from Sales.SalesOrderHeader
 GROUP BY TerritoryID, DATENAME(MONTH, OrderDate)

In [ ]:
 select TerritoryID, DATENAME(MONTH, OrderDate),
 sum (SubTotal) as [Sum in Month by Territory]
 from Sales.SalesOrderHeader
 where DATENAME(MONTH, OrderDate) in ('October', 'November')
 GROUP BY TerritoryID, DATENAME(MONTH, OrderDate)
 -- only for aggregate functions, though allows some other closes
 having sum(SubTotal) > 500000 and avg(SubTotal) > 10000

In [ ]:
select TerritoryID,
       DATENAME(MONTH, OrderDate),
       DATENAME(YEAR, OrderDate),
       sum(SubTotal) total_order,
       -- we cannot make aggregation of aggregation except of window functions
       sum(sum(SubTotal)) over (partition by TerritoryID, datename(YEAR, OrderDate) ) as total_monthly_per_territory
from Sales.SalesOrderHeader
group by TerritoryID, DATENAME(MONTH, OrderDate), DATENAME(YEAR, OrderDate)

In [ ]:
 select TerritoryID,
        DATENAME(MONTH, OrderDate) month_of_order,
        LAG(DATENAME(MONTH, OrderDate)) over (PARTITION BY TerritoryID order by DATEPART(MONTH, OrderDate) ) prev_month,
        LAG(sum(SubTotal)) over (PARTITION BY TerritoryID order by DATEPART(MONTH, OrderDate) ) prev_total_order,
        sum(SubTotal) total_order
 from Sales.SalesOrderHeader
 where OrderDate BETWEEN '2005-01-01' and '2005-12-31'
 GROUP by TerritoryID, DATENAME(MONTH, OrderDate), DATEPART(MONTH, OrderDate)

In [ ]:
-- DDL - data definition language