- <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">Write a query using WHERE clause that displays all the employees who have the job title ‘Research and Development Engineer’. Display the business entity id number, the login ID and the title for each one. (</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">HumanResources</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700; color: rgb(3.137255%, 3.137255%, 3.137255%)">.</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">Employee</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">)&nbsp;</span>

In [ ]:
SELECT BusinessEntityID, LoginID, JobTitle
FROM HumanResources.Employee
WHERE JobTitle = 'Research and Development Engineer';

- <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">Write a query using a WHERE clause that displays all the persons with the middle name ‘J’. Display the first, last and middle names along with the ID numbers. (</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">Person</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700; color: rgb(3.137255%, 3.137255%, 3.137255%)">.</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">Person</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">)&nbsp;</span>

In [ ]:
SELECT FirstName, LastName, MiddleName, BusinessEntityID
FROM Person.Person
WHERE MiddleName = 'J';

- <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">Write the query to return the employees who do not have the title ‘Research and Development Engineer’. Display the business entity Id number, the login ID and the title for each one (</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">HumanResources</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700; color: rgb(3.137255%, 3.137255%, 3.137255%)">.</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">Employee</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">)&nbsp;</span>

In [ ]:
SELECT BusinessEntityID, LoginID, JobTitle
FROM HumanResources.Employee
WHERE JobTitle <> 'Research and Development Engineer';

- <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">Write the query (using TOP(n) and ORDER BY) to select last 3 newest orders from Sales.SalesOrderHeader table made by Customer with customer id equals 11019. Display sales order id, order date, account number, territory id, freight and status columns. </span> <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">(Sales.SalesOrderHeader)&nbsp;</span>

In [ ]:
SELECT TOP 3
       SalesOrderID as OrderID, OrderDate,
       AccountNumber, TerritoryID,
       -- note that here we include CustomerID only
       -- to show that the query wors as intended
       Freight, [Status], CustomerID 
FROM Sales.SalesOrderHeader
WHERE CustomerID = 11019
ORDER BY OrderDate DESC;

- <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">Write a query using WHERE clause to display the sales orders where the total due exceeds $1.000. Retrieve only those rows where salesperson ID is 279 or the territory ID is 6. Display order Id, order date, total due, sales person id, territory id. </span> <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">(Sales.SalesOrderHeader)&nbsp;</span>

In [ ]:
SELECT SalesOrderID as OrderID,
       OrderDate, TotalDue,
       SalesPersonID, TerritoryID
FROM Sales.SalesOrderHeader
WHERE SalesPersonID = 279 or TerritoryID = 6;

- <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">Write a query displaying all the products with the product id, name and color columns. Display only those products where color is Blue, Red or Green. </span> <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">(Production</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700; color: rgb(3.137255%, 3.137255%, 3.137255%)">.</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">Product)&nbsp;</span>

In [ ]:
SELECT ProductID, [Name], Color
FROM Production.Product
WHERE Color in ('Blue', 'Red', 'Green');

- <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">Write a query to display product id (display this column as ‘Product Identifier’) and name of all products where weight is unknown/not set (</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">Production.Product</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">)&nbsp;</span>

In [ ]:
SELECT ProductID as [Product Identifier]
FROM Production.Product
WHERE Weight is NULL;

- <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">Write a query to display all products without Color (display product name) sorted by Product Name in descending order (</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">Production.Product)&nbsp;</span>

In [ ]:
SELECT [Name] as [Product Name]
FROM Production.Product
ORDER BY [Name] DESC;

- <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">Write a query to display 3 the most priced orders (display Product Id as ‘Product Identifier’ and Sales Order Id as ‘Order Identifier’ and Unit Price as ‘Price’)) </span> <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">(Sales.SalesOrderDetail, </span> <span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'">use TOP(n), ORDER BY</span><span style="font-size: 11.000000pt; font-family: 'TrebuchetMS'; font-weight: 700">)&nbsp;</span>

In [ ]:
SELECT TOP 3 
       ProductID as [Product Identifier],
       SalesOrderID as [Order Identifier],
       UnitPrice - UnitPriceDiscount as Price
       -- UnitPrice,
       -- UnitPriceDiscount
FROM Sales.SalesOrderDetail
-- WHERE UnitPriceDiscount <> CAST(0 AS numeric)
ORDER BY UnitPrice - UnitPriceDiscount DESC;

## Relational algebra

Assume there are the following relations:

- BOOKS(DocId, Title, Publisher, Year)

- STUDENTS(StId, StName, Major, Age)

- AUTHORS(AName, Address)

- borrows(DocId, StId, Date)

- has-written(DocId, AName)

- describes(DocId, Keyword)

Perform the following operations using relational algebra:
- Return names of all students who have borrowed a book and who are CS majors.

if each student, who is in the database of library has borrowed a book:

**pi name (sigma Majos='CS' (STUDENTS))**

otherwise:

**pi name (sigma Major='CS' (STUDENTS join BORROWS))**

- Return the title of books written by the author ‘Shevchenko’ but without books which have the keyword ‘database’

**pi title (BOOKS join (sigma AName='Shevchenko'(has-written)  -   sigma Keyword ='databse' (has_written join descrives)))**

- Return the title of the books which were borrowed by students older than 30 years.

**pi title (BOOKS join (sigma age > 30 (STUDENTS join borrows)))**


- List the titles of books that were written by the author ‘Shevchenko’ and were published after 2010 year.

! Note that this can be written as 'and' of two sets rathenr than and of predicates

**pi title (sigma year > 2010 and AName=‘Shevchenko’ (BOOKS join has-written)**


- Return the name of the youngest student (use relational algebra’s operators: π, σ (Age > Age), cartesian product (students x students) and difference operator (students – students))


**pi year (sigma min(year) (STUDENTS - STUDENTS * borrows))**