In [ ]:
select 2 + 2;

1. <span style="font-size: 13pt;">Display FirstName and LastName of all people (Person.Person) for whom FirstName or LastName contains two or more </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">a</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">characters.&nbsp;</span>

In [ ]:
SELECT FirstName, LastName
FROM Person.Person
WHERE FirstName LIKE '%a%a%' or LastName LIKE '%a%a%';
-- WHERE (LEN(FirstName) - LEN(replace(FirstName, 'a', '')) >= 2) or
--       (LEN(LastName) - LEN(replace(LastName, 'a', '')) >= 2)

1. <span style="font-size: 13pt;">Display all products (Name of product and Product Number) with weight within the range 12-20 </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">LB</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">(unit of measure). Please display the products which are not available to sale now. (Production.Product, use BETWEEN operator)&nbsp;</span>

In [ ]:
SELECT [Name], ProductNumber, FinishedGoodsFlag
FROM Production.Product
-- how to know measure of weight, there is nothing in the table ?
--
-- Product is salable : FinishedGoodsFlag, though it contains
-- only ones, thus will result into empty table ?
WHERE ([Weight] BETWEEN 12 and 20) and (SellStartDate > GETDATE()
or SellEndDate < GETDATE());
 
 -- WHERE [Weight] BETWEEN 12 and 20 AND 
 -- (SellEndDate IS NULL AND SellStartDate IS NOT NULL);

1. <span style="font-size: 13pt;">Display all customers who are not from territories 1 and 5. Please display only the customers who are people and whose account number contains 000000. (Sales.Customer, use LIKE operator)&nbsp;</span>

In [ ]:
SELECT CustomerID, TerritoryID, AccountNumber
FROM Sales.Customer
WHERE TerritoryID NOT IN (1, 5)
AND CAST(AccountNumber AS VARCHAR) like '%000000%'
-- display those who are people
AND PersonID IS NOT NULL;

1. <span style="font-size: 13pt;">Display unique person</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">s last names where it contains 4 characters and starts from </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">cho</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">and not contains </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">i</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">(Person.Person, use LIKE operator)&nbsp;</span>

In [ ]:
SELECT DISTINCT LastName
FROM Person.Person
-- this is guaranteed by the regex LEN(LastName) = 4 AND 
WHERE LastName LIKE 'cho[^i]';

1. <span style="font-size: 13pt;">Display all products (Product Name, Product Number) and count of years how long company sells this product (still continue selling) (Production.Product, use GETDATE and DATEDIFF system functions)&nbsp;</span>

In [ ]:
SELECT [Name], ProductNumber,
DATEDIFF(YEAR, SellStartDate, COALESCE(SellEndDate, GETDATE())) YearsSellProducts
FROM Production.Product
ORDER BY DATEDIFF(YEAR, SellStartDate, GETDATE())

1. <span style="font-size: 13pt;">Display all products (Product Name, Product Number) which product number starts from </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">BK</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">and the company continues selling these products (Production.Product, use LIKE operator)&nbsp;</span>

In [ ]:
SELECT [Name], ProductNumber, SellEndDate
FROM Production.Product
WHERE ProductNumber LIKE 'BK%'
AND SellEndDate IS NULL;

1. <span style="font-size: 13pt;">Display all orders from Sales.SalesOrderHeader table (display SalesOrderNumber and OrderDate) which were</span>
    

<span style="font-size: 13.000000pt; font-family: 'Calibri'">a) placed during 2006 year (use system function YEAR)<br>b) madeinlastdayofDecember,2001(use2possibleoptions(providetwo</span>

<span style="font-size: 13.000000pt; font-family: 'Calibri'">queries) to compare with date and function EOMONTH)&nbsp;</span>

In [ ]:
SELECT SalesOrderNumber, OrderDate
FROM Sales.SalesOrderHeader
WHERE YEAR(OrderDate) = 2006;

In [ ]:
SELECT SalesOrderNumber, OrderDate, CAST(OrderDate AS DATE)
FROM Sales.SalesOrderHeader
-- ??? There are no entries for such date;
WHERE OrderDate = CAST('2001-12-31' AS DATE);
-- ORDER BY CAST(OrderDate AS DATE)

In [ ]:
SELECT SalesOrderNumber, OrderDate
FROM Sales.SalesOrderHeader
-- ASK: mssql do we need to cast literal to date while comparing them ?
WHERE OrderDate = EOMONTH(CAST('2001-12-01' AS DATE))

8. <span style="font-size: 13pt;">Display all people (PersonType, FirstName, LastName). Sort the results in the</span>
    
    <span style="font-size: 13pt;">following way: rows with PersonType of </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">IN</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">, </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">SP</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">or </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">SC</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">sort by LastName other rows sort by FirstName (Person.Person, use CASE function with IN operator within ORDER BY part of the query)&nbsp;</span>

In [ ]:
SELECT PersonType, FirstName, LastName
FROM Person.Person
ORDER BY
CASE 
WHEN PersonType in ('IN', 'SP', 'SC') THEN LastName
ELSE FirstName
END

8. <span style="font-size: 13pt;">Display all order(s) (SalesOrderId, OrderNumber, OrderDate, ShipDate ) which hasn</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">t beet shipped to the customer yet (Sales.SalesOrderHeader)&nbsp;</span>

In [ ]:
SELECT SalesOrderID, SalesOrderNumber, OrderDate, ShipDate
FROM Sales.SalesOrderHeader
WHERE ShipDate is NULL;

8. <span style="font-size: 13pt;">Display all orders (SalesOrderId, OrderNumber, OrderDate, ShipDate ) with the number of days between the date when order was placed and the date that it was shipped (name result column as </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">Days to ship</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">) (Sales.SalesOrderHeader)&nbsp;</span>

In [ ]:
SELECT SalesOrderID, SalesOrderNumber,
       OrderDate, ShipDate,
       DATEDIFF(DAY, OrderDate, ShipDate) AS [Days to ship]
FROM Sales.SalesOrderHeader
WHERE ShipDate is NOT NULL
ORDER BY DATEDIFF(DAY, OrderDate, ShipDate);

8. <span style="font-size: 13pt;">Display order (SalesOrderId, OrderNumber, OrderDate, ShipDate) with the most days needed to ship it to customer (Sales.SalesOrderHeader, use DATEDIFF function)&nbsp;</span>

In [ ]:
SELECT TOP 1 SalesOrderID, SalesOrderNumber,
       OrderDate, ShipDate, 
       DATEDIFF(DAY, OrderDate, ShipDate) AS [Days to ship]
FROM Sales.SalesOrderHeader
WHERE ShipDate is NOT NULL
ORDER BY DATEDIFF(DAY, OrderDate, ShipDate) DESC;

12. <span style="font-size: 13pt;">Display all special offers with columns SpecialOfferId, Description and difference between MaxQty and MinQty as </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">Diff</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">. Please display only offers with positive difference. (Sales.SpecialOffers)&nbsp;</span>

In [ ]:
SELECT SpecialOfferId, [Description],
    DIFFERENCE(MaxQty, MinQty) AS Diff
FROM Sales.SpecialOffer
WHERE DIFFERENCE(MaxQty, MinQty) > 0;

12. <span style="font-size: 13pt;">Display all products (ProductId, Color, Name) in case if product</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">s color is not set display </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">No Color</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">(Production.Product, use ISNULL function)&nbsp;</span>

In [ ]:
SELECT ProductID, ISNULL(Color, 'No Color'), [Name]
FROM Production.Product

12. <span style="font-size: 13pt;">Display all orders (SalesOrderId, OrderDate, TotalDue) made in range from July 22, 2005 till July 28, 2005 and already shipped to the customer from territory with id 4, 7 or 9 (Sales.SalesOrderDetails, use BETWEEN and IN functions)&nbsp;</span>

In [ ]:
SELECT SalesOrderID, OrderDate, TotalDue
-- note that there is a mistake in the task, wrong table
FROM Sales.SalesOrderHeader
-- status 5 = Shiped
WHERE Status = 5 AND TerritoryID in (4, 7, 9)
AND OrderDate BETWEEN CAST('July 22, 2005' AS DATE) AND 
                  CAST('July 28, 2005' AS DATE)

12. <span style="font-size: 13pt;">Write a query that displays the ProductId and Name for each product from Production.Product table with the name starting with </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">Chain</span><span style="font-size: 13pt;">’&nbsp;</span>

In [ ]:
SELECT ProductID, [Name]
FROM Production.Product
WHERE [Name] like 'Chain%'

12. <span style="font-size: 13pt;">Display BusinessEntityId and </span> <span style="font-size: 13pt;">write ‘</span><span style="font-size: 13pt;">Even</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">if BusinessEntityId is an even number or </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">Odd</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">when it is odd. (HumanResources.Employee, use CASE and module operator).&nbsp;</span>

In [ ]:
SELECT BusinessEntityID,
CASE WHEN BusinessEntityID % 2 = 0 THEN 'Even' ELSE 'Odd' END
FROM HumanResources.Employee

12. <span style="font-size: 13pt;">Display all orders</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">details with columns SalesOrderId, OrderQty and display value (</span><span style="font-size: 13pt;">“</span><span style="font-size: 13pt;">Under 10</span><span style="font-size: 13pt;">” </span> <span style="font-size: 13pt;">or </span> <span style="font-size: 13pt;">“</span><span style="font-size: 13pt;">10-19</span><span style="font-size: 13pt;">” </span> <span style="font-size: 13pt;">or </span> <span style="font-size: 13pt;">“</span><span style="font-size: 13pt;">20-29</span><span style="font-size: 13pt;">” </span> <span style="font-size: 13pt;">or </span> <span style="font-size: 13pt;">“</span><span style="font-size: 13pt;">30-39</span><span style="font-size: 13pt;">” </span> <span style="font-size: 13pt;">or </span> <span style="font-size: 13pt;">“</span><span style="font-size: 13pt;">40 and over</span><span style="font-size: 13pt;">”</span><span style="font-size: 13pt;">) based on the OrderQty value. (Sales.SalesOrderDetails, use CASE function)&nbsp;</span>

In [ ]:
SELECT SalesOrderID, OrderQty,
CASE
WHEN OrderQty BETWEEN 0 AND 9 THEN 'Under 10'
WHEN OrderQty BETWEEN 10 AND 19 THEN '10-19'
WHEN OrderQty BETWEEN 20 AND 29 THEN '20-29'
WHEN OrderQty BETWEEN 30 AND 39 THEN '30-39'
WHEN OrderQty > 39 THEN '40 and over'
END

FROM Sales.SalesOrderDetail

12. <span style="font-size: 13pt;">Write a query displaying the sales orders where the total due exceeds $1000. Retrieve only those rows where the sales person identifier is 279 or the territory ID is 6 (display SalesOrderId, OrderDate, TotalDue, SalesPersonId, TerritoryId, table Sales.SalesOrderHeader)&nbsp;</span>

In [ ]:
SELECT SalesOrderID, OrderDate, TotalDue, SalesPersonID,
        TerritoryID
FROM Sales.SalesOrderHeader
WHERE (SalesPersonID = 279 OR TerritoryID = 6) AND TotalDue > 1000

12. <span style="font-size: 13pt;">Display all orders (SalesOrderId, OrdrDate, SalesOrderNumber) made on July 14, 2005 or July 17, 2005 or November 26, 2005 and which aren</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">t shipped to customer yet. (Sales.SalesOrderHeader, use IN function)&nbsp;</span>

In [ ]:
SELECT SalesOrderID, OrderDate, SalesOrderNumber
FROM Sales.SalesOrderHeader
WHERE ShipDate is NULL 
AND OrderDate in (
    CAST('July 14, 2005' AS DATE),
    CAST('July 17, 2005' AS DATE), 
    CAST('November 26, 2005' AS DATE)
)

12. <span style="font-size: 13pt;">Display all employees whose day offs (Vacation Hours + Sick Leave Hours) exceed 100 hours. Display NationalIDNumber, JobTitle and sum of hours spent for day offs as </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">Day off (in hours)</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">(HumanResources.Employee)&nbsp;</span>

In [ ]:
SELECT NationalIDNumber, JobTitle,
        SUM(SickLeaveHours) + SUM(VacationHours) AS [Day off (in hours)]
FROM HumanResources.Employee
GROUP BY BusinessEntityID, NationalIDNumber, JobTitle
HAVING SUM(SickLeaveHours) + SUM(VacationHours) > 100

12. <span style="font-size: 13pt;">Display BussinessEntityID, and </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">Full Name</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">which is concatenation of FirstName, MiddleName and LastName (example Taras R Kovalyk). Please consider MiddleName can be null. (Person.Person, use two options with ISNULL and COALESCE functions)&nbsp;</span>

In [ ]:
SELECT BusinessEntityID,
    -- handles MiddleName null automatically
    CONCAT(FirstName + ' ', MiddleName + ' ', LastName) AS [Full Name]
FROM Person.Person;

Select all addresses which are located at Heiderplatz (use AddressLine1 column). Display AddressLine1, City, PostalCode. (Person.Address, use LIKE operator)

In [ ]:
SELECT AddressLine1, City, PostalCode
FROM Person.Address
WHERE AddressLine1 like '%Heiderplatz%'

Display orders from Sales.SalesOrderHeader table (display SalesOrderId, SalesOrderNumber, OrderDate, ShipDate) which
a) are still not shipped to the customer
b) shippedtothecustomersinrangestartingfromOctober20,2005to
October, 24, 2005

In [ ]:
SELECT SalesOrderID, SalesOrderNumber, OrderDate, ShipDate
FROM Sales.SalesOrderHeader
-- 1 : In process, 2 : Approved , 5 : Shipped
-- all the others are related to cancellation
WHERE [Status] in (1, 2);

In [ ]:
SELECT SalesOrderID, SalesOrderNumber, OrderDate, ShipDate
FROM Sales.SalesOrderHeader
WHERE ShipDate BETWEEN
     CAST('October 20 2005' AS DATE) AND
     CAST('October 24 2005' AS DATE)

24. <span style="font-size: 13pt;">Display all peoples</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">emails from Person.EmailAddress table which aren</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">t in domain </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">adventure-works.com</span><span style="font-size: 13pt;">’ </span> <span style="font-size: 13pt;">(use LIKE operator).&nbsp;</span>

In [ ]:
SELECT EmailAddress
FROM Person.EmailAddress
-- easy to check that entry should indeed be empty
WHERE EmailAddress NOT LIKE '%@adventure-works.com'

24. <span style="font-size: 13pt;">Display all customers who haven</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">t received orders yet. Display CustomerID, DueDate and how many days passed from planned date when orders should be received till now (display this column as </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">Days passed</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">) (Sales.SalesOrderHeader, use DATEDIFF and GETDATE functions)&nbsp;</span>

In [ ]:
SELECT CustomerID, DueDate, 
    DATEDIFF(DAY, DueDate, GETDATE()) AS [Days passed]
FROM Sales.SalesOrderHeader
WHERE [Status] IN (1, 2)
ORDER BY DATEDIFF(DAY, DueDate, GETDATE());

24. <span style="font-size: 13pt;">Display all orders where difference between shipped date and planned due date exceeds 10 days. Display SalesOrderId, SalesOrderNumber, OrderDate, CustomerID, DueDate, ShippDate and difference between real ship date and planned due date (display this column as </span> <span style="font-size: 13pt;">‘</span><span style="font-size: 13pt;">Exceed days</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">) (Sales.SalesOrderHeader)&nbsp;</span>

In [ ]:
SELECT SalesOrderID, SalesOrderNumber, CustomerID, DueDate, ShipDate,
    DATEDIFF(DAY, DueDate, ShipDate) AS [Exceed days]
FROM Sales.SalesOrderHeader
WHERE DATEDIFF(DAY, DueDate, ShipDate) > 10;
-- ORDER BY DATEDIFF(DAY, ShipDate, DueDate) DESC;

24. <span style="font-size: 13pt;">Display all orders which aren</span><span style="font-size: 13pt;">’</span><span style="font-size: 13pt;">t received by customers yet and where due date has been already passed. Display SalesOrderId, SalesOrderNumber, OrderDate, DueDate, CustomerId. (Sales.SalesOrderHeader, use GETDATE function)&nbsp;</span>

In [ ]:
SELECT SalesOrderID, SalesOrderNumber, OrderDate, DueDate, CustomerID
FROM Sales.SalesOrderHeader
WHERE [Status] in (1, 2) and GETDATE() > DueDate