In [1]:
SELECT 2 + 2;

(No column name)
4

In [2]:
IF NOT EXISTS (
        SELECT *
        FROM sys.schemas
        WHERE name = N'BH'
    )
    EXEC('CREATE SCHEMA [BH]');
GO

In [1]:
CREATE TABLE BH.Customer (
    Id int IDENTITY(1, 1) PRIMARY KEY,
    FirstName VARCHAR(255),
    SecondName VARCHAR(255),
    LastName VARCHAR(255),
    TerritoryName VARCHAR(255)
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Customer' in the database.

In [2]:
INSERT INTO BH.Customer (
    FirstName, SecondName, LastName, TerritoryName
) VALUES (
    'Bohdan', 'Hlovatskyui', 'M', 'Ukraine'
)
GO 5;

In [3]:
SELECT * FROM BH.Customer;;

Id,FirstName,SecondName,LastName,TerritoryName
1,Bohdan,Hlovatskyui,M,Ukraine
2,Bohdan,Hlovatskyui,M,Ukraine
3,Bohdan,Hlovatskyui,M,Ukraine
4,Bohdan,Hlovatskyui,M,Ukraine
5,Bohdan,Hlovatskyui,M,Ukraine

In [18]:
INSERT INTO BH.Customer (FirstName, LastName, TerritoryName)
(
    SELECT p.FirstName, p.LastName, t.Name
    FROM Sales.Customer AS s
    LEFT JOIN Person.Person AS p
    ON s.CustomerID = p.BusinessEntityID
    LEFT JOIN Sales.SalesTerritory AS t
    ON s.TerritoryID = t.TerritoryID
    LEFT JOIN Sales.SalesOrderHeader AS o 
    ON s.CustomerID = o.CustomerID
);

In [ ]:
SELECT p.FirstName, p.LastName, t.Name
FROM Sales.Customer AS s
LEFT JOIN Person.Person AS p
ON s.CustomerID = p.BusinessEntityID
LEFT JOIN Sales.SalesTerritory AS t
ON s.TerritoryID = t.TerritoryID
LEFT JOIN Sales.SalesOrderHeader AS o 
ON s.CustomerID = o.CustomerID;

In [26]:
CREATE TABLE BH.Orders (
    Id int IDENTITY(1, 1) PRIMARY KEY,
    CustomerId int NOT NULL,
    OrderDate date NOT NULL DEFAULT SYSDATETIME(),
    Quantity int,

    CONSTRAINT FK_Orders_CustomerId FOREIGN KEY(CustomerId) REFERENCES BH.Customer(Id),
    CONSTRAINT CK_Orders_Qunatity CHECK (Quantity >= 1)
);

In [25]:
DROP TABLE BH.Orders;

In [27]:
INSERT INTO BH.Orders (CustomerId, OrderDate, Quantity) VALUES
(1, CAST('07-05-2006' AS DATE), 3)
GO 2

In [28]:
SELECT * FROM BH.Orders

Id,CustomerId,OrderDate,Quantity
1,1,2006-07-05,3
2,1,2006-07-05,3

In [46]:
ALTER TABLE BH.Orders
ALTER COLUMN OrderDate
date NOT NULL;

In [51]:
ALTER TABLE BH.Orders
ADD DEFAULT GETDATE() FOR OrderDate;

: Msg 156, Level 15, State 1, Line 3
Incorrect syntax near the keyword 'CONSTRAINT'.

In [49]:
SELECT * FROM BH.Orders

Id,CustomerId,OrderDate,Quantity
1,1,2006-07-05,3
2,1,2006-07-05,3

In [55]:
ALTER TABLE BH.Orders
ADD Comments varchar(255) DEFAULT '<None>'

In [56]:
SELECT * FROM BH.Orders

Id,CustomerId,OrderDate,Quantity,Comments
1,1,2006-07-05,3,NULL
2,1,2006-07-05,3,NULL