In [1]:
SELECT 2 + 2;

(No column name)
4

Create a view called dbo.vw_Products that displays a list of the products from the Production.Product table joined to the Production.ProductCostHistory table. Include columns that describe the product and show the cost history for each product. Test the view by creating a query that retrieves data from the view.

In [48]:
IF OBJECT_ID('dbo.vw_BH_Products') IS NOT NULL BEGIN
    DROP VIEW dbo.vw_BH_Products;
END;
GO

CREATE VIEW dbo.vw_BH_Products AS (
    SELECT p.Name, ch.StartDate, ch.StandardCost
    FROM Production.Product AS p
    JOIN Production.ProductCostHistory AS ch
    ON ch.ProductID = p.ProductID
    GROUP BY p.Name, ch.StartDate, ch.StandardCost
);
GO

SELECT TOP 1 * FROM dbo.vw_BH_Products;
GO

DROP VIEW dbo.vw_BH_Products;
GO

Name,StartDate,StandardCost
"Sport-100 Helmet, Red",2005-07-01 00:00:00.000,12.0278

Create a view called dbo.vw_CustomerTotals that displays the total sales from the TotalDue column per year and month for each customer. Test the view by creating a query that retrieves data from the view.

In [49]:
IF OBJECT_ID('dbo.vw_BH_CustomerTotals') IS NOT NULL BEGIN
    DROP VIEW dbo.vw_BH_CustomerTotal;
END;
GO

CREATE VIEW dbo.vw_BH_CustomerTotals AS (
    SELECT c.CustomerID, OrderDate,
     SUM(TotalDue) OVER (PARTITION BY YEAR(OrderDate), c.CustomerID) [Per Year],
     SUM(TotalDue) OVER (PARTITION BY MONTH(OrderDate), c.CustomerID) [Per Month]
    FROM Sales.Customer AS c
    JOIN Sales.SalesOrderHeader AS h
    ON c.CustomerID = h.CustomerID
);
GO

SELECT TOP 1 * FROM dbo.vw_BH_CustomerTotals;
GO

DROP VIEW dbo.vw_BH_CustomerTotals;

CustomerID,OrderDate,Per Year,Per Month
11019,2008-01-24 00:00:00.000,1331.1839,85.9535

Create a user-defined function called dbo.Trim that takes a VARCHAR(250) parameter. This function should trim off the spaces from both the beginning and the end of a string. Test the function.
Hint: use IF OBJECT_ID …. Then DROP FUNCTION, besides please read and use the following function LTRIM and RTRIM

In [47]:
IF OBJECT_ID('dbo.udf_BH_Trim') IS NOT NULL BEGIN
    DROP FUNCTION dbo.udf_BH_Trim;
END;
GO

CREATE FUNCTION dbo.udf_BH_Trim (@str VARCHAR(250))
RETURNS VARCHAR(250) AS BEGIN 
    RETURN TRIM(@str);
END;
GO

SELECT dbo.udf_BH_Trim(' Hello there ') [Result], 'Hello there' [Test];
GO

DROP FUNCTION dbo.udf_BH_Trim;

Result,Test
Hello there,Hello there

Create a stored procedure called dbo.usp_CustomerTotals instead of the view from question 1. Test the stored procedure
Hint: Use If Object_ID(…) then DROP PROCEDURE ….

In [106]:
IF OBJECT_ID('dbo.usp_BH_CustomerTotals') IS NOT NULL BEGIN
    DROP PROCEDURE dbo.usp_BH_CustomerTotals;
END;
GO

CREATE PROCEDURE dbo.usp_BH_CustomerTotals AS (
    SELECT TOP 1 c.CustomerID, OrderDate,
     SUM(TotalDue) OVER (PARTITION BY YEAR(OrderDate), c.CustomerID) [Per Year],
     SUM(TotalDue) OVER (PARTITION BY MONTH(OrderDate), c.CustomerID) [Per Month]
    FROM Sales.Customer AS c
    JOIN Sales.SalesOrderHeader AS h
    ON c.CustomerID = h.CustomerID
)
GO

EXEC dbo.usp_BH_CustomerTotals;
GO

DROP PROCEDURE dbo.usp_BH_CustomerTotals;
GO

CustomerID,OrderDate,Per Year,Per Month
11019,2008-01-24 00:00:00.000,1331.1839,85.9535

Modify the stored procedure created in question 4 to include a parameter @CustomerID. Use the parameter in the WHERE clause of the query in the stored procedure. Test the stored procedure.
Hint: Use If Object_ID(…) then DROP PROCEDURE ….

In [55]:
IF OBJECT_ID('dbo.usp_BH_CustomerTotals') IS NOT NULL BEGIN
    DROP PROCEDURE dbo.usp_BH_CustomerTotals;
END;
GO

CREATE PROCEDURE dbo.usp_BH_CustomerTotals 
    @CustomerID INT
AS (
    SELECT c.CustomerID, OrderDate,
     SUM(TotalDue) OVER (PARTITION BY YEAR(OrderDate), c.CustomerID) [Per Year],
     SUM(TotalDue) OVER (PARTITION BY MONTH(OrderDate), c.CustomerID) [Per Month]
    FROM Sales.Customer AS c
    JOIN Sales.SalesOrderHeader AS h
    ON c.CustomerID = h.CustomerID
    WHERE c.CustomerID = @CustomerID
)
GO

EXEC dbo.usp_BH_CustomerTotals 11189;
GO

DROP PROCEDURE dbo.usp_BH_CustomerTotals;
GO

CustomerID,OrderDate,Per Year,Per Month
11189,2006-02-26 00:00:00.000,8247.9124,8247.9124
11189,2007-08-09 00:00:00.000,5453.5148,5453.5148

Create a stored procedure called dbo.usp_ProductSales that accepts a ProductID for a parameter and has an OUTPUT parameter that returns the number sold for the product. Test the stored procedure
Hint: Use If Object_ID(…) then DROP PROCEDURE ….

In [105]:
IF OBJECT_ID('dbo.usp_BH_ProductSales') IS NOT NULL BEGIN
    DROP PROCEDURE dbo.usp_BH_ProductSales;
END;
GO

CREATE PROCEDURE dbo.usp_BH_ProductSales 
    @ProductID INT,
    @Sold INT = NULL OUTPUT AS 
        SELECT @Sold = SUM(OrderQty)
        FROM Sales.SalesOrderDetail
        WHERE ProductID = @ProductID
GO

DECLARE @Sold INT;
EXEC dbo.usp_BH_ProductSales @ProductID = 777,
    @Sold = @Sold OUTPUT;

SELECT @Sold [Sold over time]
GO

DROP PROCEDURE dbo.usp_BH_ProductSales;
GO

Sold over time
678