In [ ]:
SELECT 2 + 2;

<span style="font-family: Helvetica; font-size: 11px; color: rgb(0, 0, 0);">Write a query to display maximum, minimum and average product’s selling price.</span>

In [ ]:
SELECT 
    max(ListPrice) [Max],
    min(ListPrice) [Min],
    avg(ListPrice) [Avg]
FROM Production.Product

<span style="font-family: Helvetica; font-size: 11px; color: rgb(0, 0, 0);">Write a query that created a sum of LineTotal in the SalesOrderDetail table grouped by SalesOrderID. Include only those rows where the sum exceeds $1.000</span>

In [ ]:
SELECT SalesOrderID, sum(LineTotal) [Got_from_selling_item]
FROM Sales.SalesOrderDetail
GROUP BY SalesOrderID
HAVING sum(LineTotal) > 1000

<span style="font-family: Helvetica; font-size: 11px; color: rgb(0, 0, 0);">Write a query using the Sales.Sales.OrderHeader table that returns the count of unique TerritoryId values per customer.</span>

In [ ]:
SELECT count(distinct TerritoryID) [Unique Territories Per Customer]
FROM Sales.SalesOrderHeader
GROUP BY CustomerID
ORDER BY count(distinct TerritoryID) DESC

<span style="font-family: Helvetica; font-size: 11px; color: rgb(0, 0, 0);">Write a query that groups the products by ProductModelId along with a count. Display the rows that have a count that equals 1.</span>

In [ ]:
SELECT ProductModelID, COUNT(ProductID) [Products of this model]
FROM Production.Product
GROUP BY ProductModelID
HAVING COUNT(ProductID) > 1

<span style="font-family: Helvetica; font-size: 11px; color: rgb(0, 0, 0);">Display average order’s shipping</span> <span style="font-family: Helvetica; font-size: 11px; color: rgb(0, 0, 0);">cost.</span>

In [22]:
SELECT avg(Freight) [average shipping cost]
FROM Sales.SalesOrderHeader

average shipping cost
101.1736

Display count of products for each color.

In [24]:
SELECT Color, count(ProductID) [Product of this color]
FROM Production.Product
GROUP BY Color

Color,Product of this color
NULL,248
Black,93
Blue,26
Grey,1
Multi,8
Red,38
Silver,43
Silver/Black,7
White,4
Yellow,36

Display count of shipped order made on each territory.

In [26]:
SELECT TerritoryID, count(SalesOrderID) [Count]
FROM Sales.SalesOrderHeader
WHERE Status = 5 -- shipped
GROUP BY TerritoryID

TerritoryID,Count
9,6843
3,385
6,4067
7,2672
1,4594
10,3219
4,6224
5,486
2,352
8,2623

Write a query that groups the products by ProductModelID along with a count. Display the rows that have a count that equals 1 (display productmodelid, color and count). Please include only products with the color ‘Blue’ or ‘Red’

In [36]:
SELECT ProductModelID, Color, COUNT(ProductID)
FROM Production.Product
WHERE Color in ('Blue', 'Red')
GROUP BY ProductModelID, Color
HAVING COUNT(ProductID) = 1

ProductModelID,Color,(No column name)
33,Blue,1
33,Red,1