In [1]:
SELECT 2 + 2;

(No column name)
4

In [ ]:
-- stored procedures
-- group commands into logical unit
    -- can reduce network traffic
    -- code reusability
    -- stabilizing influence on query response time (
    -- procedures are cached)
-- custom and system defined stored procedures
-- cons: businees logic now is on the base side, we cannot properly test it

In [18]:
CREATE PROCEDURE dbo.uspBHTotalDues
    @CustomereID INT = -1,
    @Count INT OUTPUT
AS BEGIN
Print 'Hello world';
END

In [3]:
ALTER PROCEDURE dbo.uspBHTotalDues
    @CustomereID INT = -1,
    @Count INT OUTPUT
AS BEGIN
Print 'Hello world' + CONVERT(NVARCHAR(60), @CustomereID);
END

In [20]:
DECLARE @Count1 INT, @ReturnValue INT;
EXEC @ReturnValue = [dbo.uspBHTotalDues]
     @Count = @Count1 OUTPUT;

SELECT @Count1 AS N'@Count'
SELECT 'Return Value' = @ReturnValue
GO

@Count
NULL

Return Value
NULL

: Msg 2812, Level 16, State 62, Line 2
Could not find stored procedure 'dbo.uspBHTotalDues'.

In [21]:
DROP PROCEDURE dbo.uspBHTotalDues

In [ ]:
-- User Defined Functions (UDF) and types (UDT)
-- can be used in select, runs for each row (not always ?)
-- create aliases: account number for nvarchar(14);
-- return one value
-- accept one or more values
-- if, while, could not change date, could call other functions

In [30]:
-- returns some value for id
CREATE FUNCTION dbo.udf_BH_Adresses
(@BusinessEntityID int)
RETURNS TABLE AS RETURN (
    SELECT *
    FROM Person.Person
    WHERE BusinessEntityID = @BusinessEntityID
)

: Msg 2714, Level 16, State 3, Procedure udf_BH_Adresses, Line 2
There is already an object named 'udf_BH_Adresses' in the database.

In [25]:
SELECT TOP 1 * FROM Person.Person

BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
1,EM,0,NULL,Ken,J,Sánchez,NULL,0,NULL,"<IndividualSurvey xmlns=""http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey""><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>",92c4279f-1207-48a3-8448-4636514eb7e2,2003-02-08 00:00:00.000

In [32]:
-- this one seems to be very slow, as it runs for each row in the table
SELECT * FROM dbo.udf_BH_Adresses(1)

BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
1,EM,0,NULL,Ken,J,Sánchez,NULL,0,NULL,"<IndividualSurvey xmlns=""http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey""><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>",92c4279f-1207-48a3-8448-4636514eb7e2,2003-02-08 00:00:00.000

In [34]:
DROP FUNCTION dbo.udf_BH_Adresses;

In [35]:
IF OBJECT_ID('dbo.udfBHSum') IS NOT NULL BEGIN
    DROP FUNCTION dbo.udfBHSum;
END;
GO

In [38]:
CREATE FUNCTION dbo.udfBHSum (@a INT, @b INT)
RETURNS INT AS BEGIN 
    RETURN @a + @b;
END;

In [40]:
SELECT dbo.udfBHSum(11, 12)

(No column name)
23

In [41]:
DROP FUNCTION dbo.udfBHSum;

In [ ]:
-- views : base level api for filtering data (select + filter + join)
-- allow some users to work with views, but not with tables directly
-- stored procedures are better from the point of efficienccy
-- (execution plan can be cached for them)

In [42]:
CREATE VIEW dbo.vBH AS (
    SELECT * FROM Person.Person
)

In [45]:
SELECT TOP 1 * FROM dbo.vBH

BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
1,EM,0,NULL,Ken,J,Sánchez,NULL,0,NULL,"<IndividualSurvey xmlns=""http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey""><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey>",92c4279f-1207-48a3-8448-4636514eb7e2,2003-02-08 00:00:00.000

In [47]:
DROP VIEW dbo.vBH;

In [ ]:
-- triggers